@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #37352f; /* Notion main text color */
  --sidebar-bg: #F7F7F5;
  --border-color: #ECECEC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar: var(--sidebar-bg);
  --color-border: var(--border-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
